{% extends "main/layout.html" %}

{% block title %}
    О нас
{% endblock%}
{% load static%}
{% block content %}
    <div class="y_line"></div>


    <div class="btns_main_enter">
        <a href="{% url 'enterens'%}">Вход</a>
    </div>
    <div class="features">
        <h1>Школа Безопасноти</h1>

    <div class="text_about">
        <img src="{% static 'main/img/men_about.png' %}" ><img>
        <h1>О нас</h1>
        <h2>ЧТО ТАКОЕ ШКОЛА БЕЗОПАСНОСТИ?</h2>
        <b1>Этот портал предназначен для обучения пользователей и предупреждения мошенничества в интернете.</b1>
        <div class="text_about_under">
            <h2>Наш обучающий курс предоставляет актуальную информацию в форме теста.</h2>
            <h2>Он состоит из 20 вопросов, которые покрывают 4 основных блока теории.</h2>
            <h2>Наш курс разработан таким образом, чтобы учащиеся могли протестировать и углубить свои знания в каждом из этих блоков.</h2>
            <h2>Наша цель - предоставить полноценный обучающий опыт, который поможет учащимся освоить основы данной темы и улучшить свои знания.</h2>
            <h2>Каждый вопрос имеет несколько вариантов ответов, из которых учащиеся выбирают правильный.</h2>
            <h2>По результатам теста, пользователю на электронную почту будет выслан сертификат, подтверждающий прохождение курса.<h2>


        </div>
    </div>


{% if user.is_authenticated %}
    <div class="auth-True">
        <div class="btns_main_email">
            <a href="{% url 'profile' %}">{{user.username}}</a>

        </div>
    </div>
{% else %}
<div class="auth">
    <div class="btns_main_regestration">
        <a href="{% url 'reg_home'%}">Регистрация</a>
    </div>

    <div class="btns_main_enter">
        <a href="{% url 'enterens'%}">Вход</a>
    </div>
{% endif %}


    
{% endblock %}

{% comment %} Html верстка, обьяснения не требует  {% endcomment %}