{% extends "main/layout.html" %}

{% block title %}
    ЧАВО
{% endblock%}

{% block content %}
<div class="frame">
  <body>
    <div class="frame">
      <div class="overlap">
        <div class="bg"></div>
        <div class="view">
          <div class="rectangle"></div>
          <div class="div"></div>
        </div>
        <div class="text-wrapper">ШКОЛА БЕЗОПАСНОСТИ</div>
        <div class="text-wrapper-2">ШКОЛА БЕЗОПАСНОСТИ</div>
        <div class="div-wrapper"><div class="text-wrapper-3">Теория</div></div>
        <div class="overlap-group-wrapper">
          <div class="overlap-group"><div class="text-wrapper-4">Louze324@gmail.com</div></div>
        </div>
        <p class="element">
          <span class="span">1. Не разглашайте личную информацию:<br /></span>
          <span class="text-wrapper-5"
            >Избегайте размещения своего полного имени, домашнего адреса, номера телефона, паспортных данных и другой
            чувствительной информации в своих профилях на социальных сетях.</span
          >
        </p>
        <p class="p">
          <span class="span">2. Установите строгие настройки конфиденциальности:<br /></span>
          <span class="text-wrapper-5"
            >Ограничьте доступ к своему профилю только для друзей и знакомых.<br />Убедитесь, что ваши публикации и
            личная информация видны только для ограниченного круга лиц.</span
          >
        </p>
        <p class="element-2">
          <span class="span">3. Будьте осторожны с принятием друзей:<br /></span>
          <span class="text-wrapper-5"
            >Перед добавлением новых &#34;друзей&#34; в социальных сетях проверьте их аккаунты и убедитесь, что они
            реальные лица. Будьте осмотрительными при приеме запросов от незнакомцев.</span
          >
        </p>
        <p class="element-3">
          <span class="span">4. Будьте осторожны с публикацией фотографий:<br /></span>
          <span class="text-wrapper-5"
            >Не публикуйте фотографии, которые могут поставить вас или других людей под опасностью. <br />Учтите, что
            размещенные изображения могут быть загружены и использованы третьими лицами.</span
          >
        </p>
        <p class="element-4">
          <span class="span">5. Берегите себя от фишинга и мошенничества:<br /></span>
          <span class="text-wrapper-5"
            >Будьте осторожны с приложениями, ссылками и сообщениями от незнакомых людей. <br />Никогда не
            предоставляйте свои личные данные, банковские счета или пароли через социальные сети.<br />Сообщайте о
            подозрительной активности или потенциальных мошеннических схемах администраторам социальных сетей.</span
          >
        </p>
      </div>
    </div>
  </body>
{% endblock %}

{% comment %} Html верстка, обьяснения не требует  {% endcomment %}