{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>О вирусах</title>
    <link rel="stylesheet" href="{% static 'courses/css/mosheniki/viruses.css' %}" />
  </head>


  
  <body>
    <div class="div">
      <div class="bg-parent">
        <div class="bg">
          <div class="bg-child"></div>
        </div>
        <div class="div1">
          <div class="child"></div>
          <div class="item"></div>
        </div>
        <div class="div2">ШКОЛА БЕЗОПАСНОСТИ</div>
        <div class="div3">ШКОЛА БЕЗОПАСНОСТИ</div>
        <div class="div4">
          <div class="div5">Теория</div>
        </div>
        <div class="div6">
          <div class="inner"></div>
          <div class="louze324gmailcom">Louze324@gmail.com</div>
        </div>
        <b class="b">Вирусы</b>
        <div class="div7">
          <p class="p">
            <span class="span">
              <b class="b1">1. Вирусы: </b>
              <span
                >это вирусные программы, которые прикрепляются к исполняемым
                файлам и могут копировать и распространяться на другие файлы или
                компьютеры.</span
              >
            </span>
          </p>
          <p class="p">
            <span class="span">
              <span
                >Они наносят вред, от уничтожения данных до кражи личной
                информации.</span
              >
            </span>
          </p>
        </div>
        <div class="div8">
          <p class="p">
            <span class="span">
              <b class="b1">2. Черви: </b>
              <span
                >это самостоятельные программы, которые распространяются через
                сеть и самовоспроизводятся на других компьютерах.</span
              >
            </span>
          </p>
          <p class="p">
            <span class="span">
              <span
                >Они используют уязвимости в системных программах для своего
                распространения.</span
              >
            </span>
          </p>
        </div>
        <div class="div9">
          <p class="p">
            <span class="span">
              <b class="b1">3. Трояны: </b>
              <span
                >это программы, которые маскируются под полезные или необходимые
                приложения, но при выполнении скрыто выполняют вредоносные
                действия.</span
              >
            </span>
          </p>
          <p class="p">
            <span class="span">
              <span
                >Трояны крадут личную информацию, установливают дополнительные
                вредоносные программы или предоставляют злоумышленнику полный
                контроль над компьютером.</span
              >
            </span>
          </p>
        </div>
        <div class="div10">
          <p class="p">
            <span class="span">
              <b class="b1">4. Рекламное ПО: </b>
              <span
                >это программы, которые отображают навязчивую рекламу на
                компьютере пользователя.</span
              >
            </span>
          </p>
          <p class="p">
            <span class="span">
              <span
                >Они могут быть установлены без вашего согласия вместе с другими
                программами или быть частью бесплатного программного
                обеспечения.</span
              >
            </span>
          </p>
        </div>
        <div class="div11">
          <span class="span">
            <b class="b1">5. Шпионское ПО: </b>
            <span
              >это программы, которые скрытно собирают информацию о вас и вашей
              активности в Интернете, включая перехват сообщений, паролей и
              банковской информации.</span
            >
          </span>
        </div>
        <div class="div12">
          <p class="p">
            <span class="span">
              <b class="b1">6. Рансомварь: </b>
              <span
                >это программы, которые блокируют доступ к вашим файлам или
                устройству и требуют выкупа для их разблокировки.</span
              >
            </span>
          </p>
          <p class="p">
            <span class="span">
              <span
                >Они вызывают серьезные проблемы, так как мошенник получает
                контроль над вашими данными.</span
              >
            </span>
          </p>
        </div>
        <div class="parent">
          <b class="b7"
            >Чтобы защититься от вирусных программ, вот несколько
            рекомендаций:</b
          >
          <div class="div13">
            1. Установите надежное антивирусное программное обеспечение и
            регулярно обновляйте его.
          </div>
          <div class="div14">
            <p class="p">
              2. Будьте осторожны при скачивании программ из ненадежных
              источников.
            </p>
            <p class="p">
              Убедитесь, что загрузка происходит с официальных и доверенных
              сайтов.
            </p>
          </div>
          <div class="div15">
            3. Не открывайте вложения или ссылки, пришедшие по электронной почте
            от незнакомых или подозрительных источников.
          </div>
          <div class="div16">
            <p class="p">
              4. Регулярно обновляйте операционную систему и все программы на
              компьютере.
            </p>
            <p class="p">
              Обновления помогают закрывать уязвимости, которые могут быть
              использованы злоумышленниками.
            </p>
          </div>
          <div class="div17">
            <ul class="ul">
              <li>
                Будьте осторожны при посещении веб-сайтов. Избегайте
                сомнительных сайтов и не скачивайте материалы с них.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
