{% extends "main/layout.html" %}
{% block title %}
    Пароль
{% endblock%}
{% load static%}
{% block content %}
    <div class="b_line"></div>
    <div class="features_password">
        <h1>Школа Безопасноти</h1>
        <b>Теория</b>
        <h2>Как защитить свои личные данные?</h2>
        <div class="Shield_img">
            <img src="{% static 'courses/img/shield.svg' %}"></img>
        </div>
        <div class="password">
            <b>
                Надежный пароль - это хорошо, но этого недостаточно для полной защиты
            </b>
        <button class="shoshial">Правила поведения в социальных сетях</button>
        <button class="webpoved">Правила поведения в веб приложениях, сервисах</button>
        <button class="rule_hran">Правила хранения личных данных</button>
        <button class="coch_ingeer">Социальная инженерия и ее влияние в сфере веб-безопасности.</button>

        </div>
{% endblock %}